button {
    outline: none;
    border: none;
    background: #6979F8;
    color: white;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 80px;
    width: 100%;
    cursor: pointer;
}
