.container {
    background: #F7F7F7;
}

.header {
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.content {
    margin: 48px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.header-content {
    margin-left: 48px;
}

.preloader {
    position: absolute;
    align-self: center;
}
