<div class="container">
    <header class="header">
        <div class="header-content">
            <app-tab-item [id]="'all'" [for]="'all'" [checked]="true" (change)="getAllUsers()" >Все</app-tab-item>
            <app-tab-item [id]="'blocked'" [for]="'blocked'">Заблокированные</app-tab-item>
            <app-tab-item [id]="'active'" [for]="'active'">Активные</app-tab-item>
        </div>
    </header>
    <div class="content">
        <app-user-item class="user-item"></app-user-item>
        <app-user-item></app-user-item>
    </div>
</div>
