.select-container {
    position: relative;
}

select {
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    padding: 1rem;
}

option {
    appearance: none;
    -webkit-appearance: none;
    color: red;
}
