.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 4px;
    background: #FFFFFF;
    cursor: pointer;
}

.left-side-content {
    display: flex;
    align-items: center;
}

.right-side-content {
    display: flex;
    align-items: center;
    justify-content: left;
}

.user-info-container {
    display: flex;
    align-items: center;
    width: 300px;
}

.name {
    margin-left: 16px;
}

img {
    border-radius: 64px;
}

option {
    appearance: none;
    -webkit-appearance: none;
}

.last-change {
    color: #A8A8A8;
}

.status {
    width: 200px;
    display: flex;
    justify-content: center;
}
