<div class="user-item">
    <div class="left-side-content">
        <div class="user-info-container">
            <img src="https://randomuser.me/api/portraits/men/43.jpg" alt="avatar" height="48px" width="48px">
            <span class="name">Сергей Раев</span>
        </div>
        <span class="balance">Баланс: 3481.6</span>
    </div>

    <div class="right-side-content">
        <span class="last-change">Последнее изменение: 10 секунд назад</span>
        <span>Заблокирован</span>
    </div>
</div>
